.whiteFont{
    color : #FFF !important;
}

.table {
    margin: 0 auto !important;
    width: 90% !important;
    padding :  10px !important;
}
.nowrap{
    white-space: nowrap;
}
.cursorPointer{
    cursor: pointer;
}

.deleteActionIcon:hover{
    color: red !important;
}


.editActionIcon:hover{
    color: yellow !important;
}
