.mainHome{
    min-width: 100%;
    height: 100%;
    /* background-color: blueviolet; */
    /* overflow: hidden; */
}
.outlet{
    flex: 1 0 auto; /* (grow:1 , shrink:0 , basis:auto) to make the row takes the rest of the height of the homa page  */
}


.logoutBtn{
    font-family: 'Oswald', sans-serif;
    background-color: #0dcaf0 !important;
    border-color: #0dcaf0 !important;
    padding-top: 2px !important;
    padding-bottom: 2px !important;
    margin-top: 0px;
}
 
/*.sideNav a{
    background-color: blue;

} */