.sideNav  a{
    color: #FFF;
    text-decoration: none;
    padding: 5px 10px;
    margin: 5px 10px;
    text-align: center;
    font-size: larger;
    font-weight: bold;
    /* background-color: blue; */
}
.activeLink{
    background-color: black;
}